@import "ribbon.css";

:root {
    --pm-link-color: var(--pm-app-text-color);
}

/* a {
    color: var(--pm-link-color);
} */

.main {
    display:flex;
}

.child {
    margin:0;
}

.ch-left {
    /* background-color: #ffeeee; */
    padding: 5%;
    
}

.ch-right {
    margin: 0;
    width: 100%;
}

.descriptions div {
    padding: 5%;
}

.about p {
    text-align: justify;
}
/*
img {
    border-radius: 75%;
    width:30%;
    height: auto;
}
*/

.links {
    padding-top: 10%;
    display: flex;
    justify-content:space-evenly;
}

.location {
    display:flex;
    padding-top: 5%;
    justify-content: center;
}

.location svg {
    margin-left: 5%;
    margin-right: 5%;
}

.name h4{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5%
}

.name h5 {
    margin-bottom: 0;
}

.links div {
    display:inline-block;
    padding: 0 5% 0 5%;
}

.image-cropper {

    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
  
img {

    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 300px;
    object-fit: cover;
    object-position: 100% 0;
}