@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

@import "plume-css/lib/plume-all.css";

@import "ribbon.css";

:root {
    --pm-link-color: var(--pm-app-text-color);
    /* --pm-font-family-secondary: 'Chango', cursive; */
}

/* a {
    color: var(--pm-link-color);
} */

.main {
    display:flex;
}

.child {
    margin:0;
}

.ch-left {
    /* background-color: #ffeeee; */
    padding: 5%;
    max-height: 600px;
    
}

.ch-right {
    margin: 0;
    width: 100%;
}

.descriptions div {
    padding: 5%;
}

.about p {
    text-align: justify;
}
/*
img {
    border-radius: 75%;
    width:30%;
    height: auto;
}
*/

footer {    
    left: 0;
    bottom: 0;
    width: 100%;    
    position: fixed;
}

footer div {    
    justify-content:flex-end;
    flex-direction: column;
    min-height: 150px;
}

.p-footer {
    display:block;
    align-self: center;
    margin: 0;
    font-size: small;
    font-weight: bold;
    color: var(--pm-button-primary-text-color);
}


.links {
    padding-top: 10%;
    display: flex;
    justify-content:space-evenly;
}

.location {
    display:flex;
    padding-top: 5%;
    justify-content: space-evenly;
}

.location svg {
    margin-left: 5%;
    margin-right: 5%;
}

.name h4{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5%
}

.name h5 {
    margin-bottom: 0;
}

.links div {
    display:inline-block;
    padding: 0 5% 0 5%;
}

.image-cropper {

    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
  
img {

    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 300px;
    object-fit: cover;
    object-position: 100% 0;
}